body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.book-box{
  perspective: 2200px;
  perspective-origin: bottom;
  transition: perspective 1s ease;
  overflow: hidden;
  background: grey;
  /* transform: translate(-150px) scale(1.25); */
}
.book-box:hover{
  transform: none;
  transition: transform .5s ease;
}
.book{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 11, 41, 0.617);
  perspective: 1500px;
  transform: translateY(-40px) rotateX(30deg);
}
.coverLeft1,.coverLeft2,.coverRight1,.coverRight2,
.page1Left,.page1Right,.page2Left,.page2Right,.page3Left,.page3Right{
  position: absolute;
  left: 300px;
  width: 42vw;
  max-width: 350px;
  height: 60vh;
  transition: transform 4.8s ease;
  transform-origin:left bottom;
  transform-style: preserve-3d;
  perspective: 500px;
  perspective-origin: bottom;
  background: white;
  backface-visibility: hidden;
  /* box-shadow: inset 0px -2px 0 0 black; */
}
.coverLeft1{
  background: slateblue;
  z-index: 10;
  /* transform: rotateY(-180deg); */
}
.coverLeft2{
  background:grey;
  backface-visibility: visible;
  z-index: 9;
  /* transform: rotateY(-180deg); */
}
.coverRight1{
  background: grey;
  z-index: 2;
}
.coverRight2{
  background-color: slateblue;
  backface-visibility: visible;
  z-index: 1;
}
.page1Left{
  z-index: 8;
  /* transform: rotateY(-180deg); */
}
.page1Right{
  z-index: 7;
  backface-visibility: visible;
  /* transform: rotateY(-180deg); */
}
.page2Left{
  z-index: 6;
  /* transform: rotateY(-180deg); */
}
.page2Right{
  z-index: 5;
  backface-visibility: visible;
  /* transform: rotateY(-180deg); */
}
.page3Left{
  z-index: 4;
  /* transform: rotateY(-180deg); */
}
.page3Right{
  z-index: 3;
  backface-visibility: visible;
  /* transform: rotateY(-180deg); */
}
.endSide {
  position: absolute;
  left: -22px;
  width: 8%;
  height: 106%;
  background: rgba(41, 11, 41, 0.617);
  border-radius: 150px 0px 0 150px;
}
.endBottom{
  position: absolute;
  bottom: 0;
  transform: translate(-6.5%,100%);
  width: 106%;
  height: 6%;
  background-color: white;
  z-index: 3;
  border-radius: 100px 0 0 100px;
  clip-path: polygon(0% 0%,100% 0%,94% 100%,0% 100%);
}

