body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.book-box{
  perspective: 3500px;
  perspective-origin: bottom;
  transition: perspective 1s ease;
  overflow: hidden;
  background: purple;
  /* transform: translate(-190px,15px) scale(1.10); */
  transition: transform .5s ease ;
}
.book-box:hover{
  transform: none;
}
.book{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 11, 41, 0.617);
  perspective: 1500px;
  transform: translateY(-40px) rotateX(30deg);
}
.coverLeft1,.coverLeft2,.coverRight1,.coverRight2,
.page1Left,.page1Right,.page2Left,.page2Right,.page3Left,.page3Right{
  position: absolute;
  right: 10vw;
  width: 40vw;
  height: 110vh;
  transition: transform 4.8s ease;
  transform-origin:left bottom;
  transform-style: preserve-3d;
  perspective: 500px;
  perspective-origin: bottom;
  background: white;
  backface-visibility: hidden;
  /* box-shadow: inset 0px -2px 0 0 black; */
}
.coverLeft1{
  background: slateblue;
  z-index: 6;
}
.coverLeft2{
  background:grey;
  backface-visibility: visible;
}
.coverRight1{
  background: grey;
  z-index: 2;
}
.coverRight2{
  background-color: slateblue;
  backface-visibility: visible;
  z-index: -1;
}
.page1Left{
  z-index: 5;
}
.page1Right{
  backface-visibility: visible;
}
.page2Left{
  z-index: 4;
}
.page2Right{
  backface-visibility: visible;
}
.page3Left{
  z-index: 3;
}
.page3Right{
  backface-visibility: visible;
}
.endSide {
  position: absolute;
  left: -10px;
  width: 3%;
  height: 100%;
  background: rgb(41, 11, 41);
  border-radius: 200px 0 0 150px;
}
.endSide2{
  position: absolute;
  top: -1%;
  right: -1.2%;
  height: 101.2%;
  width: 1.3%;
  background-color: grey;
  z-index: 3;
  /* border-radius: 100px 0 0 100px; */
  clip-path: polygon(0% .8%,100% 1.5%,100% 99%,0% 100%);
}

.turn{
  transform: rotateY(-180deg);
}